<h1>Install psycopg2<h1>

In [4]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in d:\python\lib\site-packages (2.9.10)

In [5]:
import psycopg2

<h1>Tạo 1 connection tới database<h1>

In [6]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=castle1307")
except psycopg2.Error as e:
    print("Error:Could not make connection to the database")
    print(e)

<h1>Sử dụng cái connection để lấy cursor that can be used to execute quereis</h1>

In [7]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Sorry, Could not get cursor to the db")
    print(e)

<h1>Sử dụng cái autocommit để khỏi phải tự conn.commit sau mỗi command</h1>

In [8]:
conn.set_session(autocommit=True)

<h1>Tạo 1 database</h1>

In [9]:
try:
    cur.execute("Create database Myfirstdb")
except psycopg2.Error as e:
    print(e)

database "myfirstdb" already exists

<h1>Add database name in the content statement.Close connection to the default database,reconnect tới Udacity database,get new cursor</h1>

In [10]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

try:
    conn  = psycopg2.connect("host=127.0.0.1 dbname=myfirstdb user=postgres password=castle1307")
except psycopg2.Error as e:
    print("Error:Could not make connection to the database")
    print(e)
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error! Could not get cursor to the database")
    print(e)
    
conn.set_session(autocommit=True)

<h1>Tạo bảng học sinh bao gồm:</h1>
<h2>student_id</h2>
<h2>name</h2>
<h2>age</h2>
<h2>gender</h2>
<h2>subject</h2>
<h2>marks</h2>

In [11]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students (student_id int, name varchar , age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

<h1>Insert two rows into the table</h1>

In [13]:
try:
    cur.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
                 VALUES (%s,%s,%s,%s,%s,%s)",\
                (1,"Hao",21,"Male","Python",100))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

try:
    cur.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
     VALUES (%s,%s,%s,%s,%s,%s)",\
    (2,"Hao1",23,"Female","Python",100))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

<h1>Validate your data was inserted into the table</h1>

In [14]:
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Hao', 21, 'Male', 'Python', 100)
(2, 'Hao1', 23, 'Female', 'Python', 100)

<h1>Finally close your cursor and connection</h1>

In [15]:
cur.close()
conn.close()